<div class="container">
  <div class="page-header">
    <h1><%- link_to('Projects', '/projects') %></h1>
    <p class="lead">Create a new project from a github repo</p>
  </div>
  
  <div class="row">
    <div class="span12">
      
      <%- f = form_for({}, {action: 'create', path: '/projects', class: 'form-horizontal'}) %>
        <div class="control-group">
          <%- f.label('name', {class: 'control-label'}) %>
          <div class="controls">
            <%- f.text('name') %>
          </div>
        </div>
        
        <div class="control-group">
          <%- f.label('repo', {class: 'control-label'}) %>
          <div class="controls">
            <%- f.select('repo', repos.map(function(r){return r.full_name;})) %>
          </div>
        </div>
        
        <div class="control-group">
          <div class="controls">
            <%- f.submit('Create', {class: 'btn btn-primary'}) %>
          </div>
        </div>
      <%- f.end() %>

    </div>
  </div>
</div>